body {
    background: url('../image/books.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;

}

header {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    width: 100%;
    height: 60px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

}

.logo {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
    width: 90px;
    height: 10px;
}

.logo img {
    margin-left: 5px;
    width: 130px;
    height: 55px;
}

.top {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 30px;
    font-style: italic;
    color: rgb(252, 240, 173);
    text-decoration: underline;
}

.bottom {
    position: fixed;
    top: 50px;
    left: 60px;
    font-size: 30px;
    font-style: italic;
    color: rgb(252, 240, 173);
    text-decoration: underline;
}


.ul1 {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50px 0 0 50px;
    display: flex;
    width: auto;
    align-items: center;
    height: 55px;
}

.ul1 li {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;
}

.ul1 li a {
    text-decoration: none;
    color: rgba(255, 255, 0, 0.429);
}

.ul1 li a:hover {
    color: rgb(252, 240, 173);
    transition: calc(0.6s);
}

.block {
    border: solid 1px rgba(233, 255, 146, 0.281);
    border-radius: 50px 0 0 50px;
    background-color: rgba(143, 145, 42, 0);
    text-decoration: none;
    padding-right: 0;
}

.block:hover {
    background-color: rgb(0, 0, 0);
    transition: calc(0.4s);
}

.block6 {
    border-radius: 50px 0 0 50px;
    padding: 5px;
    width: 100%;
    height: 100%;
}

.block6:hover {
    color: rgb(0, 0, 0);
}

.ul1 li:not(:last-child)::after {
    content: " | ";
    margin-left: 10px;
    color: rgba(252, 240, 173, 0.41);
    font-size: 16px;
    display: flex;
    align-items: center;
}

.ul1 li:nth-child(5)::after {
    content: "";
}

section {
    width: 100%;
    height: 79vh;
    margin-top: 150px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .div {
    position: absolute;
    top: 150px;
    width: 30%;
    height: 150px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.left {
    display: flex;
    flex-direction: column;
    line-height: 23px;
}

.right {
    display: flex;
    flex-direction: column;
}

.right input {
    border-radius: 30px;
    background-color: rgba(76, 76, 57, 0.548);
    outline: none;
}

@media screen and (max-width: 790px) {
    section .div {
        background-color: rgba(76, 76, 57, 0.548);
        width: 60%;
        height: 150px;
        padding: 0px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .left {
        display: flex;
        flex-direction: column;
        line-height: 23px;

    }

    .right {
        display: flex;
        flex-direction: column;
    }
}




main footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8vh;
    color: rgba(252, 240, 173, 0.41);
    background-color: black;
}


.rt {
    padding: 2px;
    line-height: 85px;
    padding-left: 20px;
    background-color: rgba(255, 255, 255, 0);
}



.row {
    display: flex;
    flex-direction: row;
}

.row div {
    padding: 5px;
}
